# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Caches & Logs
.cache/
cache/
*.log
logs/

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data
data/

# Model weights
*.h5
*.pkl
*.pt
*.onnx

# Documentation
docs/

# Dashboards
dashboards/

# Scripts
scripts/

# Extra files
xrefs
notebooks/
tests/
twins/